html {
  background-color: $dark;
}

body {
  font-family: $page-font;
  color: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: $light;
  text-shadow: 0px 2px 0px #454545;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 32pt;
}

h3 {
  font-size: 28pt;
}

a {
  color: $dark-grey;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $light;
}

a:visited {
  color: $dark-grey;
}

a:visited:hover {
  color: $light;
}

button {
  cursor: pointer;
  font-family: $header-font;
  background-color: $button-fill;
  border-style: solid;
  border-color: $button-border;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 24pt;
  color: $light;
}

button:hover {
  border-color: $button-highlight;
  color: $button-highlight;
}

button:active {
}

input {
  font-family: $page-font;
  font-size: 12pt;
  height: 30px;
  padding-left: 10px;
  background-color: $input-fill;
  border: solid 2px $input-border;

  &::placeholder {
    color: $dark-grey;
  }
  &::-webkit-input-placeholder {
    color: $dark-grey;
  }
  &:-moz-placeholder {
    color: $dark-grey;
  }
  &::-moz-placeholder {
    color: $dark-grey;
  }
  &:-ms-input-placeholder {
    color: $dark-grey;
  }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container canvas {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hr-gradient {
  border: 0;
  height: 2px;
  background: #000;
  background-image: linear-gradient(to right, #000, $guild-gold, #000);
  margin: 0;
}

.color-adventure-blue {
  color: $adventure-blue;
}

.color-guild-gold {
  color: $guild-gold;
}

.hero {
  @include clearfix ();
  @include viewport-under-nav ();

  @media screen and (max-width: $tablet-break) {
    height: auto;
  }

  & > div {
    height: 100%;
    max-width: 60em;
    margin: 0 auto;
  }
}

.position-under-nav {
    @include position-under-nav ();
}

.vertical-center {
  @media screen and (min-width: $tablet-break) {
    @include vertical-center ();
  }
}

.vertical-center-always {
  @include vertical-center ();
}

@mixin darkBackground ($path, $opacity) {
  @media screen and (min-width: $tablet-break) {
    background-color: $dark;
    & > div:before {
      content: "";
      background-image: url($path);
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: $opacity;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
