html {
  background-color: $dark;
}

body {
  font-family: $page-font;
  color: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: $light;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 32pt;
}

.hr-gradient {
  border: 0;
  height: 2px;
  background: #000;
  background-image: linear-gradient(to right, #000, $guild-gold, #000);
}

.hero {
  height: $viewport-height;

  & > div {
    height: 100%;
  }
}

.first-hero {
  margin-top: $nav-height;
}

.vertical-center {
  @include vertical-center;
}

@mixin darkBackground ($path, $opacity) {
  background-color: $dark;
  & > div:before {
    content: "";
    background-image: url($path);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: $opacity;
  }
}
