@charset "utf-8";

@import "vars";
@import "fonts";
@import "plugins/responsive-grid/html5reset";
@import "plugins/slick";
@import "plugins/slick-theme";
@import "plugins/responsive-grid/12cols";
@import "plugins/responsive-grid/col";
@import "plugins/unity-player";
@import "global";
@import "components/nav";
@import "components/footer";
@import "components/home";
@import "components/play";
@import "components/about";
@import "components/modals";
@import "components/shop";
@import "components/characters";
@import "components/press";
