// Font definitions
$header-font: "troikaregular", sans-serif;
$page-font: "surfacemedium", sans-serif;

// Color definitions
$dark:  #000000;
$dark-grey:  #555555;
$light-grey: #CCCCCC;
$light: #ffffff;
$adventure-blue: #45b7e8;
$guild-gold: #f9bb16;
$kickstarter-green: #2BDE73;
$button-fill: #553300;
$button-border: #A19B7E;
$button-highlight: #E7CD3C;
$input-fill: #A19B7E;
$input-border: #361500;

// Size calculations
$nav-height: 114px;
$nav-height-mobile: 314px;

$mobile-break: 40em;
$tablet-break: 60em;

$viewport-height: 100vh;

// Mixins
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin vertical-center () {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;

  & > div, & > form, & > li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin viewport-under-nav () {
  height: -webkit-calc(#{$viewport-height} - #{$nav-height});
  height: -moz-calc(#{$viewport-height} - #{$nav-height});
  height: calc(#{$viewport-height} - #{$nav-height});
}

@mixin position-under-nav () {
  margin-top: $nav-height;
  @media screen and (max-width: $mobile-break) {
    margin-top: $nav-height-mobile;
  }
}

@mixin hoverPointer() {
  &:hover {
    cursor: pointer;
  }
}

@mixin hoverOpacity() {
  opacity: .5;

  @include transition (.2s);
  &:hover {
    opacity: 1;
  }
}

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
