footer {

  & > div {
    max-width: 60em;
    margin: 0 auto;
  }

  img {
    @include hoverOpacity ();
    width: 100%;
    @media screen and (max-width: $mobile-break) {
      margin-top: 20px;
    }
  }

  .contact, .support {
    ul {
      list-style: none;
      margin-bottom: 20px;
      li {
        margin-top: 5px;
        a {
          font-size: 16pt;
          span {
            margin-right: 3px;
          }
        }
      }
    }
    @media screen and (max-width: $mobile-break) {
      text-align: center;
    }
  }

  .footer-logo-yag {
    padding: 30px 20px 0 0;
    @media screen and (max-width: $mobile-break) {
      padding: 0;
      width: 80%;
      margin-left: 10%;
    }
  }

  .footer-logo-magic {
    padding: 20px 40px 20px 20px;
    @media screen and (max-width: $mobile-break) {
      padding: 0;
      width: 60%;
      margin-left: 20%;
    }
  }
}
