.call-to-action {
  @include darkBackground ("../../imgs/home/fight.png", 0.3);

  padding-top: 40px;
  text-align: center;

  button {
    width: 300px;
    margin: 10px;
  }

  .devices-image {
    height: 200px;
    margin-bottom: 20px;
  }
}

.media-reel {

  padding-top: 20px;

  img {
    width: 100%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    color: $light-grey;
  }
}
