.beta-signup {

  padding-top: $nav-height;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .platform-images {

    margin-top: 10px;

    img {
      display: inline;
      height: 80px;
      margin: 10px;
    }
  }
}
