.presskit {
  .press-header {
    margin-top: $nav-height;
    background-image: url("../../imgs/press/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }
}
