.privacy-policy {
  padding: 10px;
  color: $light-grey;
  height: auto;

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $light;
  }

  strong {
    color: $light;
  }

  ol, ul {
    list-style: decimal;
    ol, ul {
      list-style: lower-alpha;
      list-style-position: inside;
      ol, ul {
        list-style: lower-roman;
        list-style-position: inside;
        margin-left: 10px;
      }
    }
  }

  li {
    p {
      margin-bottom: 10px;
    }
  }
}
