.guildium-shop {

  h1 {
    margin-bottom: 20px;
  }

  margin-top: $nav-height;

  .purchase-guildium {
    text-align: center;

    img {
      width: 200px;
      margin: 0 auto;
    }
  }

  .purchase-options {
    li {
      background-image: url("../../imgs/icons/guildium.png");
    }
  }
}

.must-login {
  padding: 40px;

  button {
    margin: 10px;
  }
}

.purchase-options {
  width: 80%;
  margin: 0 auto;
  ul {

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    li {
      @include clearfix ();
      margin: 0 auto;
      height: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      list-style: none;
      padding-left: 60px;
      padding-bottom: 10px;

      h3, h4 {
        display: inline;
        font-size: 20pt;
        line-height: 1;
        margin: 10px;
      }

      h4 {
        color: $kickstarter-green;
      }

      div {
        padding-top: 10px;
        float: left;
      }

      button {
        display: inline;
        padding: 5px;
        float: right;
      }
    }
  }
}

.purchase-content {
  height: 160px;
  img {
    width: 100%;
  }
}

.paypal-purchase {
  height: 80px;
  background-image: url("../../imgs/logos/paypal.png");
  background-repeat: no-repeat;
  background-size: contain;

  button {
    float: right;
  }
}
